{% extends 'main.html' %}

{% block content %}



    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h3>Password RESET</h3>

                <p>We have emailed you the instructions</p>
                
                <br>

                
                    
                    
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}